body {
    margin: 0;
    padding: 0;
    font-family: Jaldi;
}

/* navbar */
.navbar {
    background-color: #3E4377;
}

.title {
    color: #fff;
    font-family: Itim;
}

.nav-item a {
    color: #fff;
    font-family: Jaldi;
}

.nav-item a:hover {
    color: #fff;
    text-decoration: underline;
}

/* content-1 */
.content-1 .btn:hover {
    background-color: #5962BA;
}

.content-1 .h1 {
    font-size: 60px;
}

.content-1 a {
    font-size: 50px;
}

.content-1 .one {
    color: #5962BA;
}

.content-1 .two {
    color: #fff;
}

.content-1 .btn {
    background-color: #3E4377;
}

/* content-2 */
.content-2 {
    background-color: #5259A1;
    color: #fff
}

.content-2 .item {
    background-color: #CBD0FF;
    color: #865DFB;
}

.content-2 .rounded-circle {
    background-color: #865DFB;
    color: #fff;
}

/* content-3 */
.content-3 img {
    height: 500px;
    object-fit: cover;
}

.content-3 .contact .h4 {
    color: #3E4377;
}

.content-3 .contact .btn {
    background-color: #3E4377;
    color: #fff;
}

.content-3 .contact .btn:hover {
    background-color: #5962BA;
}